@tailwind base;
@tailwind components;
@tailwind utilities;

.portable-text h1 {
  font-size: 4em;
}

.portable-text h2 {
  font-size: 3em;
}

.portable-text h3 {
  font-size: 2em;
}

.portable-text a {
  color: LinkText;
  text-decoration: underline;
}
